html
  head
    title= 'Ingredient verification'
  body
    h1= 'Please verify ' + ingredient.title
    block content
      .main.container
        .row
          .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Sign Up

            // register form
            form(method='POST' action='/ingredients/' + ingredient._id + '/verify')
              div.form-group
                label(for='type') Type:
                select#type.form-control(name='type')
                  each type in types
                    option(value=type._id)=type.title
              div.form-group
                label(for='is_liquid') Is liquid?:
                input#is_liquid.form-control(type='checkbox', name='liquid')
              button.btn.btn-primary(type='submit') Verify
